# To be excluded
.idea/
data/keys/*
data/info/*
data/skribbl/*
*__pycache__*
venv/

# Exceptions to the rule, so as to keep some folders to indicate the required project structure.
!data/keys/README.md
!data/info/README.md
!data/skribbl/README.md
!data/skribbl/copy_text_to_clipboard.py
