# To be excluded
.idea/
data/keys/*
data/info/*
cogs/FF-Bots/mooch.py
*__pycache__*
venv/

# Exceptions to the rule, so as to keep some folders to indicate the required project structure.
!data/keys/README.md